    <div class="panel panel-default">
        <div class="panel-heading" style="padding: 2px 15px;">
            <h4>Contact Us</h4>
        </div>
        <div class="panel-body">
            113 Wiggington Road<br>
            Lynchburg, VA 24502<br>
            <br>
            <abbr title="Phone">P:</abbr> 434-385-7578<br>
            <abbr title="Fax">F:</abbr> 434-385-9756
            <hr>
            <h4>Office Hours</h4>
            Monday through Friday<br>
            8:30am to 5:00pm
            <hr>
            Connect with us on <a href="https://www.facebook.com/WiggingtonRoadFamilyPractice">Facebook</a>!
        </div>
    </div>